%tr.location
  %td= link_to(result.name,  location_path(result.slug))
  %td= result.street_address if result.street_address
  %td
    - if result.geocode_precision.to_s == 'address'
      =result.distance.to_f.round(1)
    - else
      ?
