<h1>What is PromoteGo.org?</h1>
<p>
PromoteGo.org is a new site under development, dedicated to promoting
the <a href="http://usgo.org/resources/whatisgo.html">game of Go</a>
in the United States and abroad.  Currently it's the work of one person,
but I need a lot of help in realizing the vision of PromoteGo.org!  If
you're interested in helping in any way, email me at
<a href="mailto:contact@promotego.org">contact@promotego.org</a>, or you
can join our <%= link_to "Google Group",
"http://groups.google.com/group/promotego-discuss" %> for discussing
the application.
</p>
<h2>Get games out into the public eye</h2>
<p>
First and foremost, it will be a place for Go players to arrange
games to play in person in local public places, such as Parks,
Libraries, Coffee Houses, and Pubs.  By getting more games in public,
we can raise awareness.
</p>
<p>
On the day that people stop asking us if the game we're playing is
Othello, we can declare success in this goal.
</p>
 
<h2>Create a viral method of promoting Go</h2>
<p>
Second, it can function as a viral method of promoting Go: We can
provide fliers to promote the site, and have a point system for
referrals so we can recognize the most active members, and maybe
give away T-shirts and stuff as incentives.  When people see the
in-person games, sign up because of a flier, and schedule a teaching
session through the site, the site will grow.
</p>
<p>
In order to meet this goal, we will need to offer teaching sessions
and teaching games through the site, rather than just one-on-one
games.
</p>
 
<h2>Provide a better club list</h2>
<p>
Third, it can provide a club list to the community.  The current
site at usgo.org doesn't offer a radial search for people to find
the nearest club, but only lists all clubs on a state-by-state
basis.  We can make it easier for people to find the closest club.
</p>
<p>
We
<%= link_to "already have this in place", :controller => :search,
  :action => :radius, :type => "go_club" %>!
I'll be trying to convince the AGA to link to the promotego.org
list and use it as the authoritave U.S. list.  Wish me luck!
</p>
 
<h2>Assist in creating new clubs</h2>
<p>
Fourth, it can provide a catalyst for creating new clubs.  New club
proposals will be included in club search results.  When no club
or proposed club is found in a local club search, a user will be
able to propose a new club in their area.  Clubs could start out
as ad-hoc meetings at one of the public location types, and organize
from there.
</p>

<h2>Open Source Software</h2>
<p>
PromoteGo.org is Open Source Software.  This means anyone can download
our source code and contribute to it, or even customize it to their
own needs.  PromoteGo.org is released under the <%= link_to "MIT License",
"http://github.com/amikula/promotego-org/tree/master/MIT-LICENSE" %>.
You can download the source from our <%= link_to "github repository",
"http://github.com/amikula/promotego-org" %>.
</p>
