%h1 Credits
%p
  PromoteGo.org is largely the work of myself, Alf Mikula.  I could
  really use help on this project, which I work on only in my spare
  time.  See the Development link or the Contact link at the bottom
  of this page if you're interested in helping out in any way.

%p
  I'd like to thank the following volunteers for their contributions
  to the site:

%h2 Developers
%ul
  %li Aldric Giacomoni
  %li Mathew Moore
  %li Sathish Pasupunuri
  %li Doug McInnes

%h2 Translators
%h3 Search Widget
%ul
  %li Adam Chamness (Japanese)
  %li Mats Hjalmarsson (Swedish)
  %li Jeffrey McLellan (German)
  %li Phelan (Portuguese)
