<h1>Welcome to PromoteGo.org!</h1>
<p>
PromoteGo.org is a site for promoting Go by helping you to arrange games, or
learn about Go, in person.
</p>
<p>
Every day there are hundreds, if not thousands, of games of Go played in the
United States, but the game is still virtually unknown because those games
take place behind closed doors, either online from people's homes and offices,
or in person at Go clubs.  If we can move a fraction of those games out into
the public, we will dramatically raise awareness of Go in the United States.
</p>
<p>
This is the goal of PromoteGo.org: to dramatically raise awareness of Go in
the United States.  Does this sound like a good idea to you?
<%= link_to 'Learn more about PromoteGo.org.', :controller => :home,
  :action => :show, :page => 'about' %>
</p>
