%h1 You're almost finished with sign-up
%p
  Next, check your email for your validation link.  Once you click on the validation
  link in the e-mail we sent you, you'll be able to act as a full member of the site,
  including listing and editing your own club information, as well as future features,
  such as receiving notifications about new clubs near you, and meeting other players
  interested in playing games in person.
