-# TODO Internationalize
%h1 What is Go?
%p
  Go is a fascinating board game that originated in China more than
  4,000 years ago. Also known as baduk, wei ch'i, weiqi, and igo, it
  is played today by millions of people, including thousands in the
  United States. In Japan, Korea, China, and Taiwan, it is far more
  popular than chess is in the West, and professional players compete
  for large cash prizes. Its popularity in this country continues to
  grow, more than fifty years after the founding of the American Go
  Association.

%p
  Find out more at the
  == #{link_to "American Go Association", "http://usgo.org/resources/whatisgo.html"}.
