%h1= t 'promotego_widgets'
- game_of_go = link_to(t('game_of_go'), 'http://usgo.org/resources/whatisgo.html')
- about      = link_to(t('about'), :controller => :home, :action => :show, :page => :about)
%p= t 'widgets_summary', :game_of_go => game_of_go, :about => about
%h2= link_to t('search_widget'), :action => :customize_search
%p= t 'search_widget_teaser', :search_widget => link_to(t('search_widget').downcase, :action => :customize_search)
