%h1 PromoteGo.org Widgets
%p
  PromoteGo.org widgets are code that help you to integrate PromoteGo.org features into your blog or website.
  PromoteGo.org is a service dedicated to promoting the
  == #{link_to 'game of Go', 'http://usgo.org/resources/whatisgo.html'}.
  For more information about PromoteGo.org, see the
  == #{link_to 'about', :controller => :home, :action => :show, :page => :about} page.
%h2= link_to "Search Widget", :action => :search
%p
  The PromoteGo.org search widget adds a search box to your web site or blog so that your customers can easily
  do a search for Go clubs nearby.  For more information, see the
  == #{link_to 'search widget', :action => :search} page.
