<h1>New role</h1>

<%= error_messages_for :role %>

<% form_for(@role) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', roles_path %>
