- content_for("page_scripts") do
  :plain
    Event.observe(window, 'load',
      function() { $('login').focus() }
    );

- form_tag :action => :create do
  %p
    %label{:for => "user_session_login"}
      Login
    = text_field_tag 'user_session[login]'
  %p
    %label{:for => "user_session_password"}
      Password
    = password_field_tag 'user_session[password]'
  %p
    %label{:for => "user_session_remember_me"}
      Remember me:
      = check_box_tag 'user_session[remember_me]'
  %p
    = submit_tag 'Log in'
