- unless location.street_address.blank?
  = location.street_address
- else
  No street address available
%br/
- unless location.city_state_zip.blank?
  = location.city_state_zip
  %br/
- unless location.country.blank?
  = location.country
